@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FontedaLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf")
}

body {
    background-color: white;
    color: rgba(0,0,0,1);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #606060
}

a:hover{
    text-decoration: underline;
}

p { 
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 85%;
    top: 6%;
    max-width: 100%;
    height: auto    
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90%;
}

header#cabecalho h1 {
    font-family: 'FontedaLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}
nav#menu {
    display:block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0.001%;
    left: 58%;
}

nav#menu li {  
    display: inline-block;
    background-color: #dddddd;
    padding: 10 px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060
}

nav#menu h1 {
    display: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: none;
}

section#corpo {
    display:block;
    width: 100%;
    float:left;
    padding-right: 15px;
    box-sizing: border-box;  
}

article#noticiaprincipal h2 {
    font-size: 12pt;
    color: #ffffff;
    background-color: #606060;
    padding: 1% 0% 1% 0%;
    margin: 0.2%;
}

header#cabecalho-de-form h1{
    font-family: 'FontedaLogo', sans-serif;
    font-size: 18pt;
    color: #606060;
    margin: 0.2%;
}

header#cabecalho-de-form h2{
    font-size: 13pt;
    color: #161616;
    background-color: #ffffff;
    margin: 0.1%;
}

header#cabecalho-de-form h3{
    font-size: 12px;
    color: #606060;
}

.direita {
    text-align: right;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    padding: 5px;
}

footer#rodape {
    text-align: center;
}